body {
    background-image: url('g-background.jpg');
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
}

.container {
    display: flex;
    min-height: 100vh; /* Ensure the container takes at least 100% of the viewport height */
    flex-direction: column;
    align-items: center;
    margin-top: 155px;
}

/* ... (rest of your existing styles) */


.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    width: 300px;
}

.cell {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

.winner {
    background-color: #ffd700;
}

.message {
    margin-top: 30px;
}

#winner-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#play-again-button {
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#play-again-button:hover {
    background-color: #e0e0e0;
}